html,body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #E8F8FF;
}

h4
{
    font-family: 'Poppins',sans-serif;
    margin: 0px;
}

.loader
{
    position: absolute;
    top: 50vh;
    right: 50vw;
}

.user-view
{
    margin: 0 !important;
}



#modifierImage
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hauteur
{
    height: 20.0em;
}

.auteur
{
    height:12em;
}

#titreCarte > h5
{
    margin-top: 0px !important;
}
.tab
{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1366px) {
    .texteProfil {
    font-size: 80%;
    }
}

.editerPostes
{
    margin-top: 6em;
}

.Commentaires
{
    display: block;
    height: 400px;
    overflow-y: scroll;
    background-color: #B4DCED;
}

.Postes
{
    display: block;
    height: 400px;
    overflow-y: scroll;
    background-color: #B4DCED;
}

#test4 p
{
    text-align: justify;
}

#test5
{
    display: flex;
}

#colonne1.collection
{
    width: 50% !important;
}

#colonne2.collection
{
    width: 50% !important;
}

#colonne1 li
{
    display: flex;
    justify-content: flex-start;
}

#colonne2 li
{
    display: flex;
    justify-content: center;
}

#infosUtilisateur
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: 'Lato', sans-serif;    
}

#carteDescription
{
    padding: 0 !important;
    margin:10px !important;
    margin-bottom: 20px !important;
    height: 315px !important;
    background-color: white;
}

.card-panel
{
    background-color: #B4DCED;
    
}

.card-stacked
{
    background-color: #91C9E8;
}

#espaceBouton
{
    margin:10px !important;
}

.tabs .tab a:hover, .tabs .tab a.active
{
    color: white !important;
    background-color: rgb(49, 64, 75) !important; 
}

.tabs .tab a {

color: grey !important;

}

.modal
{
    width: 60% !important;
    margin: auto !important;
}

#groupeListe li > a
{
    width: 100% !important;
}

#modal2 input
{
    margin-bottom: 5px !important;
}

.TitreMessage
{
    margin-bottom:5px;
}

.messageType
{
    width: 60%;
}

.invisible-scrollbar{
    display: block;
    width: 10em;
    overflow: auto;
    height: 10em;
  }
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }

#messagePoste
{
    width: 100%;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
}

#messageCommentaire
{
    width: 100%;
    word-wrap: break-word;    
    font-family: 'Lato', sans-serif;
}

#test6 ul
{
    display:flex;
    flex-direction:column;
    align-items: center;
}

#test6 li
{
    margin-bottom: 10px;
    width: 50%;
}

.boutonCompte
{
    text-decoration-style: none;
    color: white;
    width: 100% !important;
}

.tab
{
    text-transform: capitalize !important;
}

.motdePasse
{
    margin-bottom: 0 !important;
}

.validate
{
    margin-bottom: 0 !important;
}

.fileupload {
    width: 35%;
    position: relative;
    overflow: hidden;
}

.panneauBoutons
{
    text-transform: none;
}

.panneauBoutons > button
{
    padding: 0;
    width: 100%;
    font-size: 0.85em;
    text-align: left !important;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
}

.plop
{
    margin-left: 3px;
    text-transform: none;
}

@media screen and (max-width: 1400px)

{
    .messageType
    {
        width: 100%;
    }

    h5
    {
        font-size: 1.35em;
    }

}
