html,body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.loader
{
    position: absolute;
    top: 50vh;
    right: 50vw;
}

.user-view
{
  margin: 0 !important;
}

#modifierImage
{
    width: 100%;
}

.hauteur
{
    height: 20.0em;
}

#titreCarte > h5
{
    margin-top: 0px !important;
}

@media screen and (max-width: 1366px) {
    .texteProfil {
      font-size: 80%;
    }
  }

  .editerPostes
  {
      margin-top: 6em;
  }

  .Postes
  {
    display: block;
    height: 400px;
    overflow-y: scroll;
  }

  .collection
  {
      width:50% !important;
  }

  #test4 p
  {
    text-align: justify;
  }

  #test5
  {
      display: flex;
  }

  #colonne1 li
  {
    display: flex;
    justify-content: flex-start;
  }

#colonne2 li
{
    display: flex;
    justify-content: center;
}

#infosUtilisateur
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#carteDescription
{
    margin:10px !important;
}

#espaceBouton
{
    margin:10px !important;
}

.tabs .tab a:hover, .tabs .tab a.active
{
    color: white !important;
    background-color: rgb(49, 64, 75) !important; 
}

.tabs .tab a {

color: grey !important;

}