.Carte
{
    width: 10em;
}

.container
{
  width: 85% !important;
}

.card-content
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}


.card-action
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: small;
}

.card-action p
{
    margin: 0px !important;
    font-size: 1.25em;
}

.blocAmis
{
    margin-top:10px;
}

.card
{
    width: 10em !important;
}

.card-content
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    
}

.Contenant
{
  width: 11em;
}

.s12
{
  display:flex !important; 
  justify-content:flex-start !important;
}


#bouton
{
    width: 100% !important;
}

.btn
{
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 0px !important; 
}

#boutonAmi
{
    position: absolute;
    top: 0;
    right: 0;
}

