#name
{
  font-size: 2.0em;
}

#email
{
  font-size: 1.10em;
}

#navTexte
{
  width: 60%;
  margin-left: 15px;
  font-family: 'Montserrat',sans-serif;
}

#navTexte p
{
  margin: 0;
}

#groupeListe > li , #groupeListe > li > a
{
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    border-bottom: none !important;
}

#slide-out
{
  height: calc(100% - 1px);
  display: block;
  overflow:hidden;
  overflow-x: hidden;
  overflow-y: auto;
  overflow : -moz-scrollbars-vertical;
  font-family: 'Montserrat',sans-serif;  
}

.user-view
{
  height: 200px;
}

.user-view .email
{
  margin-right: auto;
  margin-left: auto;
}

#navProfil span
{
  width: 100%;
  display: inline-block;
}

#navProfil
{
  margin-top: 0em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Roboto',sans-serif;
}

#fondNav {
	max-width:100%;
  -webkit-filter: brightness(10%); /* Safari */
    filter: brightness(10%);
    -webkit-filter: opacity(60%); /* Safari */
    filter: opacity(60%);
    -webkit-filter: contrast(60%); /* Safari 6.0 - 9.0 */
    filter: contrast(60%);
}

#btnSide > a 
{
    height: 62px ;
    position: absolute;
    top: 0px;
    left: 0px;
}

.btn
{
    font-family: 'Lato', sans-serif;
}


#btnSide i
{
    margin-top: 25%;
}

#titreNav
{
    font-family: 'Poppins';
    font-size: 2.5em;
}

#titreGroupe
{
  font-family: 'Poppins';  
}