html
{
    background-color: #91C9E8;
}

.poste
{
    padding: 0 !important;
}

#boutonPoste
{
    position: absolute;
    top: 0;
    right: 0;
}

.commentaireUnique
{
    background-color: #B4DCED;
}

#ajouterCommentaire
{
    text-transform: none;
}

.imagePoste
{
    padding: 0 !important;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.texteCarte
{
    margin-top: 7px !important;
}

.card-title
{
    font-size: 2.5em !important;
    font-family: 'Patua+One',sans-serif;
}

.fenetreEnsemble
{
    margin-top: 15px;
}

.fenetreCommentaire
{
    margin-top:0.5em;
    overflow: auto;
    background-color: #67B8DE;
}

.auteurCommentaire
{
    margin-top: 10px;
}

.auteurCommentaire img
{
    min-width: 0;
    max-width: 65px;
    
}

.espaceTitre
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    padding-bottom: 0;
}

.espaceTitre h5
{
    width: 35%;
}

.card
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: white !important;
}

#nouveauMessage
{
    margin-top: 10px;
}

.tailleBlocNouveau
{
    min-height: 125px !important;    
    background-color: #67B8DE;
    
}

#statsCommentaires
{
    display:flex;
    flex-direction:columns;
}

#menuOptions {
    margin-bottom: 5px !important;
    padding: 0pc !important;
    color: white;
}

.select-wrapper input.select-dropdown {
    position: unset;
    text-align: center;
    border-radius: 3px;
    border: 2px;
    background-color:#448AFF;
    border-bottom: none !important;
    color: white !important;
    margin: 0px ;

}

.card-title {
    display: flex;
    flex-direction: row;
}

.cartePoste
{
    background-color: #3399CC;
}

textarea{
    padding: 0 !important;
    }

#titreCarteAuteur {
    margin: 0;
}

#imageTitreAuteur {
    padding-left: 0;
}

.datePoste
{
    margin-top: 5px !important;
    text-align: right;
}

#nombreCommentaire
{
    font-size: 0.5em;
}

.auteurPoste
{
    display:flex;
    justify-content:flex-start;
}

.titreAuteur
{
    width: 35%;
}

.imageAuteur
{
    max-width: 35%;
    height: 35%;
    object-fit: cover;
}

h6
{
    padding-left:10px;margin-top:0;
}

.texteCommentaire
{
    width:100%;
    word-wrap: break-word;
}

.card-image
{
    display: flex;
    justify-content: center;
}

#boutonProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boutonNouveau {
    margin-bottom: 5px;
    width: 100% !important;
}

#boutonOptions
{
    width: calc(100%-5px) !important;
    margin: 0 !important;
}

#imageProfil {
    padding: 2px;
    background-color: rgb(124, 131, 223);
    margin-top: 8px;
}

textarea.materialize-textarea {
    border-bottom-color: #000 !important; 
}

 /* label color */
 .input-field label {
    color: rgb(28, 34, 43); 
  }

