html,body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.loader
{
    position: absolute;
    top: 50vh;
    right: 50vw;
}

  #fondNav {
	max-width:100%;
  -webkit-filter: brightness(10%); /* Safari */
    filter: brightness(10%);
    -webkit-filter: opacity(60%); /* Safari */
    filter: opacity(60%);
    -webkit-filter: contrast(60%); /* Safari 6.0 - 9.0 */
    filter: contrast(60%);
}

.user-view
{
  margin: 0 !important;
}

#navProfil span
{
  width: 100%;
  display: inline-block;
}

#navProfil
{
  display: flex;
  flex-wrap: wrap;
justify-content: flex-start;
align-content: center;
align-items: center;
font-family: 'Roboto',sans-serif;
}

#name
{
  font-size: 2.0em;
}

#email
{
  font-size: 1.10em;
}
#navTexte
{
  width: 65%;
  margin-left: 15px;
}

#navTexte p
{
  margin: 0;
}

#groupeListe > li , #groupeListe > li > a
{
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    border-bottom: none !important;
}

#slide-out
{
    overflow-y: scroll;
}

#titreNav
{
    font-family: 'Oswald';
    font-size: 2.5em;
    
}

#modifierImage
{
    width: 100%;
}

#btnSide > a 
{
    height: 64px ;
    position: absolute;
    top: 0px;
    left: 0px;
}

#btnSide i
{
    height: 64px !important;
    margin-top: 25%;
}

.hauteur
{
    height: 20.0em;
}

#titreCarte > h5
{
    margin-top: 0px !important;
}

@media screen and (max-width: 1366px) {
    .texteProfil {
      font-size: 80%;
    }
  }

  .editerPostes
  {
      margin-top: 6em;
  }

  .Postes
  {
    display: block;
    height: 400px;
    overflow-y: scroll;
  }
